.center{
    text-align: -webkit-center;
}

.card{
    float: left;
    width: 200px;
}

.container{
    margin-right: auto;
    margin-left: auto;
    width: 600px;
}

.marge{
    margin-top: 10px;
}
